
html,body{
    height: 100%;
    width: 100%;
    }
    .wrap{
        display: flex;
        justify-content: center;
        boarder: 4px red solid;
    }
    .first{background: yellow
    border: 2px green solid;
    